﻿@{
    ViewData["Title"] = "Home Page";
}

<partial name="_PagePartial" />

<div style="margin-top: 10px">
    @{
        if (User.IsInRole(nameof(RoleType.Page1)))
        {
            <a class="btn btn-primary" asp-controller="Page1">Go to Page1</a>
        }

        if (User.IsInRole(nameof(RoleType.Page2)))
        {
            <a class="btn btn-primary" asp-controller="Page2">Go to Page2</a>
        }

        if (User.IsInRole(nameof(RoleType.Page3)))
        {
            <a class="btn btn-primary" asp-controller="Page3">Go to Page3</a>
        }
    }
</div>


