﻿<h4>Hello @User.Identity.Name</h4>

<div style="margin-top: 10px">
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button class="btn btn-info" type="submit">Logout</button>
    </form>
</div>